@import "tailwindcss";

@theme {
  --color-background: #FFFDF0;
  --color-foreground: #0F0F0F;
  --color-primary: #C6BCF0;
  --color-secondary: #6100FF;
}

body {
  font-family: Inter, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}